@font-face {
	font-family: Caveat;
	font-display: swap;
	src: url("../fonts/Caveat-Bold.woff2") format("woff2"), url("../fonts/Caveat-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Caveat;
	font-display: swap;
	src: url("../fonts/Caveat-Regular.woff2") format("woff2"), url("../fonts/Caveat-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MPLUSRounded1c;
	font-display: swap;
	src: url("../fonts/MPLUSRounded1c-Bold.woff2") format("woff2"), url("../fonts/MPLUSRounded1c-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Impact;
	font-display: swap;
	src: url("../fonts/impact-regular.woff2") format("woff2"), url("../fonts/impact-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MPLUSRounded1c;
	font-display: swap;
	src: url("../fonts/MPLUSRounded1c-ExtraBold.woff2") format("woff2"), url("../fonts/MPLUSRounded1c-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: MPLUSRounded1c;
	font-display: swap;
	src: url("../fonts/MPLUSRounded1c-Medium.woff2") format("woff2"), url("../fonts/MPLUSRounded1c-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: MPLUSRounded1c;
	font-display: swap;
	src: url("../fonts/MPLUSRounded1c-Regular.woff2") format("woff2"), url("../fonts/MPLUSRounded1c-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ShantellSans;
	font-display: swap;
	src: url("../fonts/ShantellSans-Bold.woff2") format("woff2"), url("../fonts/ShantellSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: ShantellSans;
	font-display: swap;
	src: url("../fonts/ShantellSans-BoldItalic.woff2") format("woff2"), url("../fonts/ShantellSans-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ShantellSans;
	font-display: swap;
	src: url("../fonts/ShantellSans-ExtraBold.woff2") format("woff2"), url("../fonts/ShantellSans-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: ShantellSans;
	font-display: swap;
	src: url("../fonts/ShantellSans-Medium.woff2") format("woff2"), url("../fonts/ShantellSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: ShantellSans;
	font-display: swap;
	src: url("../fonts/ShantellSans-Regular.woff2") format("woff2"), url("../fonts/ShantellSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: ShantellSans;
	font-display: swap;
	src: url("../fonts/ShantellSans-SemiBold.woff2") format("woff2"), url("../fonts/ShantellSans-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
